body{
    height: cover;
  }
  * {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
  }
  
  .top {
    position: relative;
    width: 100%;
  }
  .back{
    width: 100%;
  }
  
  .top_text {
    position: absolute;
    /* -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%); */
    margin: 0;
    padding: 0;
    /*文字の装飾は省略*/
    color: #e3eff6;
    font-family: 'Zen Maru Gothic', sans-serif;
    letter-spacing: 0.05em
  }
  
  .top_text_sub1 {
    margin-top: 50px;
    left: 80px;
    font-size: 48px;
  }
  
  .top_text_sub2 {
    margin-top: 120px;
    left: 80px;
    font-size: 48px;
  }
  
  .top_text_sub3 {
    margin-top: 300px;
  
  }
  
  .top_text_sub3-1{
    margin-top: 190px;
  }
  .top_3{
    left: 80px;
    font-size: 48px;
  }
  
  .top_text_sub4 {
    margin-top: 370px;
  }
  .top_text_sub4-1 {
    margin-top: 260px;
  }
  .top_4{
    left: 80px;
    font-size: 48px;
  }
  .top_text_sub2-1{
      margin-top: 180px;
      left: 100px;
      font-size: 40px;
    }
    .top_text_sub2-2{
      margin-top: 220px;
      left: 100px;
      font-size: 40px;
    }
    .top_text_sub2-3{
      margin-top: 260px;
      left: 100px;
      font-size: 40px;
    }
  .jetlic {
    top: 550px;
    left: 78%;
    font-size: 96px;
  }
  
  .back {
    width: 100%;
  }
  
  .about {
    width: 100%;
    height: 1000px;
    background-color: #e3eff6;
  }
  
  .top_img {
    width: 10%;
    left: 80%;
    top: 400px;
  }
  
  .top_one {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("one.jpg");
  }
  .top_about{
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("top.png");
  }
  
  
  
  .jetlicone p{
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Marhey', cursive;
    margin-left: 50px;
    font-size: 18px;
    line-height: 30px;
  }
  
  .center {
    text-align: center;
  }
  
  .logo_one {
    margin-top: 100px;
    width: 30%;
  }
  
  .space{
    height: 100px;
  }
  
  /* 文字上英語タイトル(仮バージョン) */
  .heading {
    position: relative;
    /*英字テキストの配置基準*/
    padding-top: 60px;
    /*日本語テキストの上余白*/
    padding-left: 50px;
    /*日本語テキストの左余白*/
    font-size: 32px;
  }
  
  .heading span {
    position: relative;
    /*z-indexを効かせるために必要*/
    z-index: 0;
    /*日本語テキストを英字テキストの上に指定*/
  }
  
  .heading::before {
    /*英字テキストを擬似要素で表現*/
    content: attr(data-en);
    /*データ属性の読み込み*/
    position: absolute;
    transform: rotate(-5deg);
    /*英字テキストを斜めに傾ける*/
    top: 0;
    left: 0;
    color: #f1ca00;
    font-size: 80px;
    font-weight: 400;
    font-family: 'Marhey', cursive;
  }
  .img_one{
    width: 30%;
  }
  .one_about{
    background:#f1ca00;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2500px;
    width: 100%;
  }
  .about_about{
    background:#f1ca00;
    background-repeat: no-repeat;
    background-size: cover;
    height: 2000px;
    width: 100%;
  }
  .about_img{
    height: 300px;
    margin-left: 400px;
  }
  .one_about_right{
    margin-top: 100px;
    font-size: 28px;
    width: 50%;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    margin-right: 100px;
    height: 300px;
    background-color: #fff;
    opacity: 0.9;
  }
  .one_about_left{
    margin-top: 100px;
    font-size: 28px;
    width: 50%;
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    text-align: left;
    margin-left: 100px;
    height: 600px;
    background-color: #fff;
    opacity: 0.9;
  }
  .img_one_com{
    width: 300px;
  }
  .one_about_right2{
    height: 1000px;
  }
  .about_about_right2{
    height: 400px;
  }
  h2{
    font-family: 'Marhey', cursive;
  }
  .footer
  {
    width: 100%;
    height: 60px;
    background-color: #3c3300;
    color:  #fff;
    font-family: 'Marhey', cursive;
  }
  .footer ul{
    list-style: none;
    color: #fff;
  
  }
  .footer_title{
    font-size: 22px;
    float: left;
    margin: 15px;
    color: #fff;
    
  }
  .footer_text{
    float: right;
    margin: 15px;
    color: #fff;
  }
  .btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #0d417d;
    border: solid 2px #0d417d;
    border-radius: 3px;
    transition: .4s;
    width: auto;
    font-size: 14px;
    margin: 10px;
    margin-left: 100px;
  }
  
  .btn-flat-border:hover {
    background: #0d417d;
    color: white;
  }
  /* コード */  