@charset "UTF-8";
body {
  height: cover;
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.center {
  text-align: center;
}

.space {
  height: 100px;
}

.logo_one {
  margin-top: 100px;
  width: 30%;
}

.nodis {
  display: none;
}

.heading {
  position: relative;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 32px;
}

@media (max-width: 480px) {
  .heading {
    font-size: 24px;
  }
}

.heading span {
  position: relative;
  z-index: 0;
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .heading span {
    font-size: 28px;
  }
}

.heading::before {
  content: attr(data-en);
  position: absolute;
  transform: rotate(-5deg);
  top: 10px;
  left: -50px;
  color: #f1ca00;
  font-size: 80px;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
  z-index: -1;
}

@media (max-width: 480px) {
  .heading::before {
    font-size: 64px;
  }
}

.top {
  position: relative;
  width: 100%;
  color: #e3eff6;
}

.top .back {
  width: 100%;
}

.top .top_text {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #e3eff6;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.05em;
}

.top .top_text:hover {
  color: #b67a77;
}

.top .ham_text {
  font-size: 28px;
  margin: 20px;
  margin: 20px;
  color: #e3eff6;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 0.05em;
}

.top .top_text1 {
  left: 80px;
  font-size: 48px;
}

@media (max-width: 480px) {
  .top .top_text1 {
    font-size: 32px;
  }
}

.top .top_text2 {
  left: 100px;
  font-size: 40px;
}

@media (max-width: 480px) {
  .top .top_text2 {
    font-size: 24px;
  }
}

.top .top_text_sub1 {
  margin-top: 50px;
}

.top .top_text_sub2 {
  margin-top: 120px;
}

.top .top_text_sub3 {
  margin-top: 300px;
}

.top .top_text_sub3-1 {
  margin-top: 190px;
}

.top .top_3 {
  left: 80px;
  font-size: 48px;
}

@media (max-width: 480px) {
  .top .top_3 {
    font-size: 32px;
  }
}

.top .top_text_sub4 {
  margin-top: 370px;
}

.top .top_text_sub4-1 {
  margin-top: 260px;
}

.top .top_4 {
  left: 80px;
  font-size: 48px;
}

@media (max-width: 480px) {
  .top .top_4 {
    font-size: 32px;
  }
}

.top .top_text_sub2-1 {
  margin-top: 180px;
}

.top .top_text_sub2-2 {
  margin-top: 220px;
}

.top .top_text_sub2-3 {
  margin-top: 260px;
}

.top .top_img {
  width: 10%;
  left: 80%;
  top: 400px;
}

@media (min-width: 1900px) {
  .top .top_img {
    top: 870px;
    width: 8%;
    left: 90%;
  }
}

@media (max-width: 850px) {
  .top .top_img {
    left: 80%;
    top: 880px;
  }
}

@media (max-width: 480px) {
  .top .top_img {
    top: 570px;
    left: 5%;
    width: 20%;
  }
}

.top .jetlic {
  top: 550px;
  left: 75%;
  font-size: 96px;
}

@media (min-width: 1900px) {
  .top .jetlic {
    left: 80%;
    top: 800px;
  }
}

@media (max-width: 850px) {
  .top .jetlic {
    left: 60%;
    top: 950px;
  }
}

@media (max-width: 480px) {
  .top .jetlic {
    top: 500px;
    font-size: 84px;
    text-align: center;
    left: 25%;
  }
}

.main .top_one {
  width: 100%;
  height: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("one.jpg");
}

.main .top_terakoya {
  width: 100%;
  height: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("terakoya.jpg");
}

.main .top_game {
  width: 100%;
  height: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("games.jpg");
}

.main .main_one {
  top: 0;
}

.main p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

@media (max-width: 480px) {
  .main p {
    font-size: 12px;
  }
}

.main .one_about {
  background: #f1ca00;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2500px;
  width: 100%;
}

.main .terakoya {
  height: 2550px;
}

.main .member {
  height: 3800px;
}

.main .contact {
  height: 1800px;
}

@media (min-width: 1900px) {
  .main .contact {
    height: 2200px;
  }
}

@media (max-width: 850px) {
  .main .contact {
    height: 1900px;
  }
}

.main .main_game {
  height: 1000px;
}

@media (min-width: 1900px) {
  .main .main_game {
    height: 2000px;
  }
}

@media (max-width: 480px) {
  .main .main_game {
    height: 1000px;
  }
}

.main .one_card {
  margin-top: 100px;
  font-size: 28px;
  padding-top: 20px;
  text-align: left;
  background-color: #fff;
  opacity: 0.9;
  width: 50%;
  margin-right: 100px;
}

@media (max-width: 480px) {
  .main .one_card {
    width: 80%;
    margin-left: 10%;
    float: left;
  }
}

@media (max-width: 1400px) {
  .main .img_one {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .main .img_one {
    width: 90%;
  }
}

.main .one_about_right {
  float: right;
  height: 300px;
}

@media (max-width: 480px) {
  .main .one_about_right {
    float: left;
    height: 400px;
  }
}

.main .one_about_left {
  float: left;
  height: 600px;
  margin-left: 120px;
}

@media (max-width: 480px) {
  .main .one_about_left {
    margin-left: 10%;
  }
}

.main .one_about_right2 {
  height: 1150px;
  float: right;
}

@media (max-width: 480px) {
  .main .one_about_right2 {
    float: left;
    height: 1000px;
  }
}

.main .about_about_right {
  float: right;
  height: 300px;
}

@media (max-width: 480px) {
  .main .about_about_right {
    float: left;
    height: 320px;
  }
}

.main .about_about_left {
  float: left;
  height: 600px;
  margin-left: 120px;
}

@media (max-width: 480px) {
  .main .about_about_left {
    margin-left: 10%;
    float: left;
    height: 900px;
  }
}

.main .about_about_right2 {
  height: 300px;
  float: right;
}

@media (max-width: 480px) {
  .main .about_about_right2 {
    float: left;
    height: 500px;
  }
}

.main .terakoya_right {
  float: right;
  height: 400px;
}

@media (max-width: 850px) {
  .main .terakoya_right {
    height: 600px;
  }
}

@media (max-width: 480px) {
  .main .terakoya_right {
    float: left;
    height: 600px;
  }
}

.main .terakoya_left {
  float: left;
  height: 1400px;
  margin-left: 120px;
}

@media (max-width: 850px) {
  .main .terakoya_left {
    height: 1500px;
  }
}

@media (max-width: 480px) {
  .main .terakoya_left {
    float: left;
    height: 1400px;
    margin-left: 10%;
  }
}

.main .terakoya_right2 {
  height: 200px;
  float: right;
}

@media (max-width: 850px) {
  .main .terakoya_right2 {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .main .terakoya_right2 {
    float: left;
    height: 250px;
  }
}

.main .member_right {
  float: right;
  height: 400px;
}

@media (max-width: 850px) {
  .main .member_right {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .main .member_right {
    float: left;
    height: 300px;
  }
}

.main .member_left {
  float: left;
  height: 350px;
  margin-left: 120px;
}

@media (max-width: 850px) {
  .main .member_left {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .main .member_left {
    float: left;
    height: 500px;
    margin-left: 10%;
  }
}

.main .member_right2 {
  height: 350px;
  float: right;
}

@media (max-width: 480px) {
  .main .member_right2 {
    float: left;
    height: 400px;
  }
}

.main .game_right {
  float: right;
  height: 350px;
}

@media (max-width: 480px) {
  .main .game_right {
    float: left;
    height: 400px;
  }
}

.main .contact_right {
  float: right;
  height: 400px;
}

@media (max-width: 850px) {
  .main .contact_right {
    height: 650px;
  }
}

@media (max-width: 480px) {
  .main .contact_right {
    float: left;
    height: 650px;
  }
}

.main .contact_left {
  float: left;
  height: 250px;
  margin-left: 120px;
}

@media (max-width: 480px) {
  .main .contact_left {
    margin-left: 10%;
    float: left;
    height: 300px;
  }
}

.main .about_img {
  width: 100%;
  height: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .terakoya_img {
  width: 50%;
  margin-top: 50px;
  margin-left: 100px;
}

.main .terakoya_img2 {
  width: 30%;
  margin-left: 20px;
}

.main .sns {
  width: 60px;
  margin-left: 30px;
  margin-top: 50px;
}

.main .twitter {
  margin-left: 50px;
}

.main .instagram {
  width: 55px;
}

.main .member_img {
  margin: 50px;
  width: 20%;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #3c3300;
  color: #fff;
}

@media (max-width: 480px) {
  .footer {
    height: 180px;
  }
}

.footer ul {
  list-style: none;
  color: #fff;
}

.footer ul li {
  font-size: 18px;
  margin: 15px;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
}

.footer .footer_title {
  float: left;
}

.footer .footer_text {
  float: right;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #0d417d;
  border: solid 2px #0d417d;
  border-radius: 3px;
  transition: .4s;
  width: auto;
  font-size: 14px;
  margin: 10px;
  margin-left: 100px;
}

.btn-flat-border:hover {
  background: #0d417d;
  color: #fff;
}

@media (max-width: 850px) {
  .btn-flat-border {
    margin-left: 50px;
  }
}

@media (max-width: 480px) {
  .btn-flat-border {
    margin-left: 50px;
  }
}

.twitter-follow-button {
  margin-left: 50px;
}

.accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

.accordion-area li {
  margin: 10px 0;
}

.accordion-area section {
  border: 1px solid #ccc;
}

.title {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
}

.title::before, .title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #333;
}

.title::before {
  top: 48%;
  left: 15px;
  transform: rorate(0deg);
}

.title::after {
  top: 48%;
  left: 15px;
  transform: rorate(90deg);
}

.title .close::before {
  transform: rorate(45deg);
}

.title .close::after {
  transform: rorate(-45deg);
}

.box {
  display: none;
  margin: 0 3% 3% 3%;
  padding: 3%;
}

.hamburger {
  display: none;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 12px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
  }
}

.hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #e3eff6;
}

.hamburger span:nth-child(1) {
  top: 10px;
}

.hamburger span:nth-child(2) {
  top: 20px;
}

.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #e3eff6;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2) {
  top: 16px;
  background: #e3eff6;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(3) {
  opacity: 0;
}

nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #e3eff6;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}

nav.globalMenuSp ul li:hover {
  background: #e3eff6;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #e3eff6;
  padding: 1em 0;
  text-decoration: none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;
}
