$text_white: #e3eff6
$font_main:'Zen Kaku Gothic New', sans-serif
$font_english:'Rajdhani', sans-serif
$font_english2:'Kaushan Script', cursive
$pc_top_main_font-size:48px
$pc_top_main2_font-size:40px
$pc_all_text_font-size:18px
$pc_all_english_font-size:32px
$pc_footer_font-size:18px
$footer_back_color:#3c3300
$footer_color:#fff

$pc: 1400px // PC
$tab: 850px // タブレット
$sp: 480px  // スマホ
$monitor: 1900px //FHDモニター


@mixin pc 
  @media (max-width: ($pc)) 
    @content
  

@mixin tab 
  @media (max-width: ($tab)) 
    @content
  

@mixin sp 
  @media (max-width: ($sp)) 
    @content
  
@mixin monitor
  @media (min-width: ($monitor)) 
    @content
  

body
    height: cover

*
    margin: 0
    padding: 0
    top: 0
    left: 0
    // font-family: $font_main

.center
    text-align: center

.space
    height: 100px

.logo_one
    margin-top: 100px
    width: 30%  
  
.nodis
    display: none


.heading
    position: relative
    padding-top: 30px
    padding-left: 10px
    font-size:32px
    @include sp
        font-size: 24px
    
    span
        position: relative
        z-index: 0
        font-size: 40px
        font-weight: 600
        @include sp
            font-size: 28px

    
.heading::before
    content: attr(data-en)
    position: absolute
    transform: rotate(-5deg)
    top: 10px
    left: -50px
    color: #f1ca00
    font-size: 80px
    font-weight: 400
    font-family: $font_english2
    z-index: -1
    @include sp
        font-size: 64px
        

.top 
    position: relative
    width: 100%
    color: $text_white

    .back
        width: 100%

    .top_text
        position: absolute
        margin: 0
        padding: 0
        color: $text_white
        font-family: $font_english
        letter-spacing: 0.05em
        &:hover
            color: #b67a77
        
    .ham_text
        font-size: 28px
        margin: 20px
        margin: 20px
        color: $text_white
        font-family: $font_english
        letter-spacing: 0.05em

    .top_text1
        left: 80px
        font-size: $pc_top_main_font-size
        @include sp
            font-size: 32px
    
    .top_text2
        left: 100px
        font-size:$pc_top_main2_font-size 
        @include sp
            font-size: 24px

    .top_text_sub1
        margin-top: 50px
        
    .top_text_sub2
        margin-top: 120px

    .top_text_sub3
        margin-top: 300px
    
    .top_text_sub3-1
        margin-top: 190px
    
    .top_3
        left:80px
        font-size: $pc_top_main_font-size
        @include sp
            font-size: 32px
    
    .top_text_sub4
        margin-top: 370px
    
    .top_text_sub4-1
        margin-top: 260px
    
    .top_4
        left: 80px
        font-size: $pc_top_main_font-size
        @include sp
            font-size: 32px
    
    .top_text_sub2-1
        margin-top: 180px

    .top_text_sub2-2
        margin-top: 220px

    .top_text_sub2-3
        margin-top: 260px

    .top_img
        width: 10%
        left: 80%
        top: 400px  
        @include monitor
            top: 870px
            width: 8%
            left: 90%

        @include tab
            left: 80%
            top: 880px
        @include sp
            top: 570px
            left: 5%
            width: 20%
    
    .jetlic
        top: 550px
        left: 75%
        font-size: 96px        
        @include monitor
            left: 80%
            top: 800px

        @include tab
            left: 60%
            top: 950px
        @include sp
            font-size: 84px
            text-align: center
            left: 25%


.main
    .top_one
        width: 100%
        height: 800px
        background-size: cover
        background-repeat: no-repeat
        background-image: url("one.jpg")
        @include sp
            background-image: url("one2.jpg")

    p
        margin-left: 50px
        margin-right: 50px
        font-size: $pc_all_text_font-size
        line-height: 30px
        font-family: $font_main
        @include sp
            font-size: 12px

    .one_about
        background: #f1ca00
        background-repeat: no-repeat
        background-size: cover
        height: 2500px
        width: 100%
        
    
    .terakoya
        height: 2800px

    .member
        height: 3800px

    .contact
        height: 1800px
        @include monitor
            height: 2200px
        @include tab
            height: 1900px

    .main_game
        height: 1500px
        @include monitor
            height: 2000px
        @include sp
            height: 1000px

    .one_card
        margin-top: 100px
        font-size: 28px
        padding-top: 20px
        text-align: left
        background-color: #fff
        opacity: 0.9
        width: 50%
        margin-right: 100px
      
        @include sp
            width: 80%
            margin-left: 10%
            float: left
       
    .img_one
        @include pc
            width: 50%
        @include sp
            width: 90%


    .one_about_right
        float: right
        height: 300px
        @include sp
            float: left
            height: 400px
            
    
    .one_about_left
        float: left
        height: 600px
        margin-left: 120px
        @include sp
            margin-left: 10% 

    .one_about_right2
        height: 1150px
        float: right
        @include sp
            float: left
            height: 1000px

    .about_about_right
        float: right
        height: 300px
        @include sp
            float: left
            height: 320px
    
    .about_about_left
        float: left
        height: 600px
        margin-left: 120px
        @include sp
            margin-left: 10%
            float: left
            height: 900px

    .about_about_right2
        height: 300px
        float: right
        @include sp
            float: left
            height: 500px
    
    .terakoya_right
        float: right
        height: 400px
        @include tab
            height: 600px
        @include sp
            float: left
            height: 600px
    
    .terakoya_left
        float: left
        height: 1200px
        margin-left: 120px
        @include tab
            height: 1500px
        @include sp
            float: left
            height: 1400px
            margin-left: 10%

    .terakoya_right2
        height: 200px
        float: right
        @include tab
            height: 250px
        @include sp
            float: left
            height: 250px

    .member_right
        float: right
        height: 200px
        @include tab
            height: 250px
        @include sp
            float: left
            height: 300px
    
    .member_left
        float: left
        height: 350px
        margin-left: 120px
        @include tab
            height: 400px
        @include sp
            float: left
            height: 500px
            margin-left: 10%

    .member_right2
        height: 350px
        float: right
        @include sp
            float: left
            height: 400px
    
    .game_right
        float: right
        height: 350px
        @include sp
            float: left
            height: 400px
    
    .contact_right
        float: right
        height: 400px
        @include tab
            height: 650px
        @include sp
            float: left
            height: 650px

    .contact_left
        float: left
        height: 250px
        margin-left: 120px
        @include sp
            margin-left: 10%
            float: left
            height: 300px
    

    .about_img
        width: 100%
        height: cover
        background-repeat: no-repeat
        background-size: cover
    
    .terakoya_img
        width: 50%
        margin-top: 50px
        margin-left: 100px

    .sns
        width: 60px
        margin-left: 30px
        margin-top: 50px

    .twitter
        margin-left: 50px
    
    .instagram
        width: 55px

.footer
    width: 100%
    height: 60px
    background-color: $footer_back_color
    color: $footer_color
    @include sp
        height: 180px
    
    ul
        list-style: none
        color: $footer_color
        li
            font-size: $pc_footer_font-size
            margin: 15px
            color: $footer_color
            font-family: 'Rajdhani', sans-serif
            
            
    .footer_title
        float: left

    .footer_text
        float: right

.btn-flat-border
    display: inline-block
    padding: 0.3em 1em
    text-decoration: none
    color: #0d417d
    border: solid 2px #0d417d
    border-radius: 3px
    transition: .4s
    width: auto
    font-size: 14px
    margin: 10px
    margin-left: 100px
    &:hover
        background: #0d417d
        color: #fff
    @include tab
        margin-left: 50px
    @include sp
        margin-left: 50px
        
.twitter-follow-button
    margin-left: 50px

.accordion-area
    list-style: none
    width: 96%
    max-width: 900px
    margin: 0 auto

    li
        margin: 10px 0
    
    section 
        border: 1px solid #ccc


.title
    position: relative
    cursor: pointer
    font-size: 1rem
    font-weight: normal
    padding: 3% 3% 3% 50px
    transition: all .5s ease

    &::before,
    &::after
        position: absolute
        content: ''
        width: 15px
        height: 2px
        background-color: #333

    &::before
        top: 48%
        left: 15px
        transform: rorate(0deg)

    &::after
        top: 48%
        left: 15px
        transform: rorate(90deg)

    .close    
        &::before
          transform: rorate(45deg)

        &::after
          transform: rorate(-45deg)

.box
    display: none
    margin: 0 3% 3% 3%
    padding: 3%

.hamburger 
  display : none
  position: fixed
  z-index : 3
  right : 13px
  top   : 12px
  width : 42px
  height: 42px
  cursor: pointer
  text-align: center
  -webkit-transition: 0.5s all
  -moz-transition   : 0.5s all
  transition        : 0.5s all
  @include sp
    display: block

.hamburger span 
  display : block
  position: absolute
  width   : 30px
  height  : 2px 
  left    : 6px
  background : $text_white

.hamburger span:nth-child(1) 
  top: 10px

.hamburger span:nth-child(2) 
  top: 20px

.hamburger span:nth-child(3) 
  top: 30px


/* ナビ開いてる時のボタン */
.hamburger.active
  -webkit-transform: rotate(360deg)
  transform: rotate(360deg)

.hamburger.active span:nth-child(1) 
  top : 16px
  left: 6px
  background : $text_white
  -webkit-transform: rotate(-45deg)
  -moz-transform   : rotate(-45deg)
  transform        : rotate(-45deg)

.hamburger.active span:nth-child(2) 
  top: 16px
  background : $text_white
  -webkit-transform: rotate(45deg)
  -moz-transform   : rotate(45deg)
  transform        : rotate(45deg)

.hamburger.active span:nth-child(3) 
  opacity: 0

nav.globalMenuSp 
  position: fixed
  z-index : 2
  top  : 0
  left : 0
  color: $text_white
  background: rgba(0,0,0,0.7)
  text-align: center
  width: 100%
  opacity: 0
  transition: opacity .6s ease, visibility .6s ease


nav.globalMenuSp ul 
  margin: 0 auto
  padding: 0
  width: 100%


nav.globalMenuSp ul li 
  list-style-type: none
  padding: 0
  width: 100%
  transition: .4s all

nav.globalMenuSp ul li:last-child 
  padding-bottom: 0

nav.globalMenuSp ul li:hover
  background : $text_white


nav.globalMenuSp ul li a 
  display: block
  color: $text_white
  padding: 1em 0
  text-decoration: none


/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active 
  opacity: 100
